body  h1{
    text-align:center;
    color:#393a6c;
}
.largeindex{
    background-color:#fff;
    width:1130px;
    height:auto;
    padding:50px;
  
}
.left_maine{
    background-color:#e3e4e4;
    width:600px;
    height:300px;
    float:left;
}
.right_maine{
     background-color:#e3e4e4;
     width:500px;
     height:300px;
     float:left;
     margin-left:30px;
     margin-bottom:30px;
}
.home_image{
width:500px;
height:300px;
  opacity:0.5;
}
.home_image:hover{
    opacity:1;
}
.left_side{
     background-color:#e3e4e4;
     width:350px;
     height:200px;
     color:firebrick;
     float:left;
}
.center_side{
      background-color:#e3e4e4;
      width:350px;
      height:200px;
      float:left;
      margin-left:40px;
}
.right_side{
    background-color:#e3e4e4;
    width:350px;
    height:200px;
    float:right;
}